In [129]:
name = "apuy goman"
age = 25
address,province,village,country = "Amerika kidul","742391551","Kp.Cibolang","Desa Mangkalaya"
pythonScore = 101.9
isMarried = True
hobbies = "memancing"

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Provinsi :",province)
print("Kampung :",village)
print("Desa :",country)
print("Nilai pemorograman :",pythonScore)
print("Status  menikah :",isMarried)
print("hobi :",hobbies)

Nama : apuy goman
Umur : 25
Alamat : Amerika kidul
Provinsi : 742391551
Kampung : Kp.Cibolang
Desa : Desa Mangkalaya
Nilai pemorograman : 101.9
Status  menikah : True
hobi : memancing

In [27]:
print("Tipe Data (name) :",type(name))
print("Tipe Data (age) :",type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (province) :",type(province))
print("Tipe Data (village) :",type(village))
print("Tipe Data (country) :",type(country))
print("Tipe Data (scorePyhton) :",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))
print("Tipe Data (hobbies) :",type(hobbies))

Tipe Data (name) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (village) : <class 'str'>
Tipe Data (country) : <class 'str'>
Tipe Data (scorePyhton) : <class 'float'>
Tipe Data (isMarried) : <class 'bool'>
Tipe Data (hobbies) : <class 'str'>

In [127]:
#casting atau konversi data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool)

intTostr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intTostr,intToFloat,intToBool)

floatToStr = str(pythonScore)
floatToInt = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatToStr,floatToInt,floatToBool)

boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr,boolToInt,boolToFloat)

742391551 742391551.0 True
25 25.0 True
101.9 101 True
True 1 1.0

In [65]:
#String adalah kumpulan baris dari beberapa karakter dan immutable
city = "sukabumi"
panjang = (len(city))
print(city[5])
print(city[panjang-1])

u
i

In [125]:
desimal = 500
biner = 0b1010
octal = 0o377
hexxa = 0xff

print("Nilai Desimal :",desimal)
print("Nilai Biner :",biner)
print("Nilai Octal :",octal)
print("Nilai Hexxa :",hexxa)

print("biner dari ",desimal,":",bin(desimal))
print("octal dari ",desimal,":",oct(desimal))
print("hexadesimal dari ",desimal,":",hex(desimal))

Nilai Desimal : 500
Nilai Biner : 10
Nilai Octal : 255
Nilai Hexxa : 255
biner dari  500 : 0b111110100
octal dari  500 : 0o764
hexadesimal dari  500 : 0x1f4

In [123]:
###### Tipe data collection
cities = ["Sukabumi","Malang","Bandung"]
print(cities)
print(cities[0])
print(cities[len(cities)-1 ])
cities[1] = "jakarta"
print(cities)

hobbies = ("mancing","ngopi","jaga parkiran")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "Stay in parking lot"
guardData = {
    "name" : "raul",
    "age" : 20,
    "address" : {
        "street" : "jl. cidolog",
        "number" : 67,
        "province": "mangkalaya"
    }
}

guardList = [
    {
        "name" : "raul",
        "age" : 20,
        "address" : {
            "street" : "jl. cidolog",
            "number" : 67,
            "province": "mangkalaya"
        }
    },
    {
        "name" : "apud",
        "age" : 80,
        "address" : {
            "street" : "jl. cidolog",
            "number" : 67,
            "province": "mangkalaya"
        }
    }
       
] 
print(guardData)
print(guardData["name"])
print(guardData["address"]["province"])

print(guardList[1]["name"])

['Sukabumi', 'Malang', 'Bandung']
Sukabumi
Bandung
['Sukabumi', 'jakarta', 'Bandung']
('mancing', 'ngopi', 'jaga parkiran')
mancing
{'name': 'raul', 'age': 20, 'address': {'street': 'jl. cidolog', 'number': 67, 'province': 'mangkalaya'}}
raul
mangkalaya
apud